@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext');

/* GLOBAL STYLES */
body {
  margin: 0;
  background: url("../img/blackboard.jpg") 0/cover no-repeat;
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  position: relative;
}

* {
  box-sizing: border-box;
}

.ui-sortable {
  min-height: 80px;
}

/* BOARD */
.board {
  min-height: 90vh;
}

.board h1 {
  font-weight: 700;
  font-size: 50px;
}

/* COLUMN */
.column {
  order: 1;
  min-height: 50vh;
  background-color: lightgrey;
  margin-left: 8px;
  list-style: none;
  background: url("../img/background.jpg") 0/cover;
  position: relative;
}

ul.column-card-list {
  margin: 20px auto 0 auto;
  padding: 0;
}

.column-add-card {
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 8px;
  display: block;
}

h2.panel-title {
  padding: 5px;
  padding-right: 70px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.panel-default > .panel-heading {
  background-color: rgba(0,0,0,0.4);
  min-height: 35px;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  min-height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
  background-color: #efcf3e;
  color: #000;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}

p.card-description {
  margin: 35px auto 15px auto;
}

.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}

.btn {
  height: 34px;
  min-width: 34px;
}

.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  color: white;
  font-weight: bold;
}

.btn-primary {
  position: absolute;
  top: 0;
  right: 35px;
}

/* FOOTER */
footer p {
  margin: 20px auto;
}